.leftNav{
    height: 100vh;
    width: 30vh;
    padding: 0;
    margin: 0;
}

.overhead{
    
    height: 10vh;
    background: #063376; /* fallback for old browsers */
}

.welcomeIcon{
    height: 25vh;
    background: #86a9de;
}

.sampleBox{
    text-align: center;
    padding: 0;
    margin: 0;
    height: 30vh;
    word-wrap: break-word;
    white-space: nowrap;
}

.sampleBox > img {
    height: auto;
    width: 25%;
}

.sampleBox > h2 {
   font-size: 2vw;
}

.samplebox > p {
    font-size: 1vw;
}

.myLinks{
    height: 55vh;
    background: #86a9de;
}

.underhead{
    height: 10vh;
    background: #063376;
}


.rightNav{
    height: 100vh;
    padding: 0;
    margin: 0;
}

.rightNavIcons{
   height: 10vh;
   display: flex;
   justify-content: center; /* align horizontal */
   align-items: center; /* align vertical */
}

.leftNavIcons{
   height: 10vh;
   display: flex;
   justify-content: center; /* align horizontal */
   align-items: center; /* align vertical */
}

.navIcon{
    height: 10%;
    background: white;
}

.myLogo{
    height: 90px;
    width: 90px;
}

.glpyhs{
    color: #86a9de;
}

.basicInfo{
    height: 30%;
    background: white;
}

.divider{
    padding: 0;
    margin: 0;
    border: 4px #e3e0e1 double;
    border-bottom: 1px solid #fff;
    width: 80%
}

.tables{
    padding-top: 50px;
}
.panels{
    width: 90%;
}

#container{
   text-align: center;
}

.sampleBox > img{
    padding-top: 15px;
}

.searchDiv{
    text-align: center;
}