
.body{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;
			    
	background: #6190e8; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #6190e8, #a7bfe8); /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #6190e8, #a7bfe8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.body img{
	display: block;
	max-width: 100%;
	max-height: 100%;
	/*border: red 2px solid;*/
	margin: auto;

	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
         
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
         
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.centerIcon{
				
	position: absolute;
	height: 50%;
	width: 50%;
	/*border: white 2px solid;*/

	top: 20%;
	left: 25%;
}

.getStarted{
	display: block;
	text-align: center;
}

.button{
	border-radius: 10px;
	background-color: #ffffff; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.signinButton{
	background-color: #3db0db; 
    color: white; 
    border: 2px solid #3db0db;
}

.signinButton:hover{
	background-color: #ffffff;
    color: black;
    border: 2px solid #ffffff;
}

span{
	font-family: Akrobat;
}

footer{
	background-color: #3db0db;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 3%;
	text-align: center;
	font-size: 15px;

}